
#projects {
  text-align: center;
  margin-top: 30px;
  #projects-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .modal-dialog {
      max-width: 800px;
    }
    .card {
      border-radius: $rounded-borders;
      text-decoration: none !important;
      margin: 10px;
      width: 20rem;

      transition: transform 400ms;

      &:hover:not(.post) {
        transform: translateY(-8px);
        box-shadow: -2px 8px 40px -12px rgba(0, 0, 0, 0.24);
      }


      a {
        text-decoration: none;
      }

      .card-img-top {
        border-radius: $rounded-borders $rounded-borders 0 0;
      }
      .card-badges-wrap{
        display: flex;
        justify-content: flex-end;
        padding: 0px 15px;
        flex-wrap: wrap;

        .card-badges {
          margin: 5px 5px 15px 0px;
          

          .badge {
            display: flex ;
            border: 1px solid $grey !important;
            color: $grey;
            
            i {
              font-size: 1.5em;
              margin-right: 5px;
            }
            span {
              vertical-align: middle;
              line-height: 18px
            }

            &:hover {
              color: black;
              border-color: black !important;
              border: 1.5px solid !important;
            }
          }
        }
      }
    }
  }

  .project-img {
    max-width: 70%;
  }

  .project-content {
    font-size:100%;

    h1, h2, h3, h4, h5 {
      // font-size: 100%;
    }
  }
}
