---
layout: wider
title: Projects
permalink: /projects/
---
<div id="projects">
  <h2>Projects</h2>
  <p>Here are some projects I'm currently working on or have worked on in the past!</p>
  <div id="projects-wrap">
    {% assign sorted_projects = site.projects | sort: 'date' | reverse %}
    {% for project in sorted_projects %}
      <div class="card" >
        
        <a href="" data-toggle="modal" data-target="#{{project.key}}">
          <img src="{{site.url}}{{site.baseurl}}{{project.cover}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{project.title}}</h5>
            <p class="card-text">{{project.description}}</p>
          </div>
        </a>
        <div class="card-badges-wrap">
          {% if project.demo %}
            <div class="card-badges">
              <a href="{{project.demo}}" target="_blank">
                <div class="badge badge-pill border "> 
                  <i class="fa fa-eye"></i> <span>Demo</span>
                </div>
              </a>
            </div>
          {% endif %}
          {% if project.github %}
            <div class="card-badges">
              <a href="{{project.github}}" target="_blank">
                <div class="badge badge-pill border "> 
                  <i class="fab fa-github"></i> <span>Github</span>
                </div>
              </a>
            </div>
          {% endif %}
        </div>
      </div>  
      <div class="modal fade" id="{{project.key}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="exampleModalLongTitle">{{project.title}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body project-content">
              {{project.content}}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
